<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OutputTitle</title>
  
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/HimanshuMukane/cssandjsdump@main/css/Carousel.css">

</head>
<body>
  

<main class="main">
    <div class="carousel">
        <button type="button" class="carousel_btn jsPrev" aria-label="Previous slide">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z" />
            </svg>
        </button>

        <div class="carousel_track-container">
            <ul class="carousel_track">
                
                
                
                
                <li class="carousel_slide is-selected">
                    <div class="carousel_image">
                        <img src="/static/user_uploaded/c236e7fb-7fbf-4a5b-8370-b26e4911a1c6.jpg" alt="" role="presentation">
                    </div>
                    <h2 class="carousel_title">a</h2>
                </li>
                
                
                
                
                <li class="carousel_slide ">
                    <div class="carousel_image">
                        <img src="/static/user_uploaded/cdedc00e-0491-40b2-a0f7-ac056018dc11.jpg" alt="" role="presentation">
                    </div>
                    <h2 class="carousel_title">v</h2>
                </li>
                
                
                
                
                <li class="carousel_slide ">
                    <div class="carousel_image">
                        <img src="/static/user_uploaded/c8d1d302-6d0e-4c28-9a1c-1a8376ca80c4.jpg" alt="" role="presentation">
                    </div>
                    <h2 class="carousel_title">s</h2>
                </li>
                
            </ul>
        </div>
        <button type="button" class="carousel_btn jsNext" aria-label="Next slide">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z" />
            </svg>
        </button>
    </div>
</main>

</body>

<script src="https://cdn.jsdelivr.net/gh/HimanshuMukane/cssandjsdump@main/js/Carousel.js"></script>

</html>